/* ----------------- */
/* Global            */
/* ----------------- */

:root {
  /* colors */
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-200: hsl(210, 46%, 95%);
  --clr-neutral-400: hsl(212, 23%, 69%);
  --clr-neutral-600: hsl(214, 17%, 51%);
  --clr-neutral-800: hsl(217, 19%, 35%);

  /* font-families */
  --main: "Manrope", sans-serif;

  /* font-sizes */
  --fs-content: 1rem;
  --fs-header: clamp(1.25rem, 1.1422rem + 0.5391vw, 1.56rem);

  /* font-weights */
  --fw-regular: 500;
  --fw-bold: 700;

  /* line-heights */
  --line-height-1: 1.2;

  /* letter-spacing */
  --letter-spacing-1: 0.12px;
  --letter-spacing-2: 0.25px;
  --letter-spacing-3: 5px;
}

/* ----------------- */
/* Reset             */
/* ----------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--main);
  font-size: var(--fs-content);
  color: var(--clr-neutral-600);
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-1);
  background-color: var(--clr-neutral-200);
  min-height: 100vh;
  padding-inline: 1.5rem;
  display: grid;
  place-items: center;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  font-size: var(--fs-header);
  font-weight: var(--fw-bold);
  letter-spacing: var(--letter-spacing-2);
  line-height: var(--line-height-1);
  color: var(--clr-neutral-800);
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ----------------- */
/* Composition       */
/* ----------------- */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 57rem;
}

.flow > * + * {
  margin-top: 1rem;
}

/* ----------------- */
/* Utilities         */
/* ----------------- */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.bold-text {
  font-weight: var(--fw-bold);
}

.text-clr-800 {
  color: var(--clr-neutral-800);
}

.text-clr-400 {
  color: var(--clr-neutral-400);
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-3 {
  letter-spacing: var(--letter-spacing-3);
}

.margin-right {
  margin-right: var(--gutter, 1.3125rem);
}

/* ----------------- */
/* Blocks            */
/* ----------------- */

.article-card {
  background-color: var(--clr-neutral-100);
  display: grid;
  border-radius: 1rem;
}

@media (min-width: 45rem) {
  .article-card {
    grid-template-columns: 1fr 2fr;
  }
}

.article-card__img {
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

@media (min-width: 45rem) {
  .article-card__img {
    grid-row: 1 / 3;
    border-radius: 1rem 0 0 1rem;
  }
}

.article-card__text {
  padding: 2rem;
}

.article-card__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

@media (min-width: 45rem) {
  .article-card__footer {
    grid-column: 2 / 3;
  }
}

.article-card__socials {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: var(--clr-neutral-800);
  display: none;
  align-items: center;
  padding: 2.25rem 2rem;
  border-radius: 0 0 1rem 1rem;
}

@media (min-width: 45rem) and (max-width: 67.999rem) {
  .article-card__socials {
    border-radius: 0 0 1rem 0;
  }
}

.article-card__socials.active {
  display: flex;
  z-index: 1000;
}

@media (min-width: 68rem) {
  .article-card__socials.active {
    position: absolute;
    bottom: 100%;
    right: -14.2%;
    padding: 1rem 3rem;
    border-radius: 1rem;
    z-index: 1000;
  }

  .article-card__socials.active::after {
    border-top: 15px solid var(--clr-neutral-800);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    width: 0;
    height: 0;
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: calc(50% - 7.5px);
  }
}

.article-card__socials-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.article-card__profile {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 2rem;
}

@media (min-width: 45rem) {
  .article-card_profile {
    padding: 0 2rem 2rem
  }
}

.article-card__profile-pic {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 2.5rem;
}

.article-card__button {
  --gutter: 2rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: end;
  border: 0;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  z-index: 2000;
  position: relative;
}

.article-card__button.active {
  background-color: var(--clr-neutral-600);
}

.article-card__button.active path {
  fill: white;
}
